@import "normalize.styl"
@import "fonts.styl" 
@import "_base.styl" 
@import "fadeInLeft.styl" 
@import "fadeOutLeft.styl" 


gris_claro = #818181
gris_oscuro = #333333
body
	font-size 16px
	font-family 'Open Sans', sans-serif

a
	text-decoration none
	color black


/*Clases*/
			
.center-block
	display block
	text-align center
	width 100%
.container
	font-size 0
	padding 1.438rem
	text-align center
.footer
	background-color gris_oscuro
	color white
	padding 1em 0
	font-size .8rem
.header
	background-color rgba(255,255,255,0.95)
	border-bottom 1px solid gris_claro 
	height 3.625em
	position fixed
	top 0
	width 100%
	.title
		h1
			font-size 1.2rem
			font-weight normal
			margin 0
			line-height 3em	
			text-align center
.input-search-menu
	background rgba(white,.95)
	border 1px solid gris_oscuro
	border-radius .3rem
	display inline
	font-family 'icomoon'
	padding .5rem .3rem
	width 85%
	
.post_home
	display inline-block
	margin-right 1rem
	margin-bottom 1rem
	text-align left
	width 8rem
	figure
		margin 0
		img
			width 100%
	h2
		margin .5em 0		
	&:nth-of-type(even)
		margin-right 0	
.post_info
	display none
.relative
	position relative
.show_menu
	color gris_oscuro
	left 1.438rem
	font-size 1.5rem
	position absolute
	top .7em
.titulo_post	
	font-family 'Merriweather', serif
	font-size 1rem
	font-weight normal
	color gris_oscuro
.text-center
	text-align center


/*Identificadores*/
#container-post-home
	margin-top 3.5rem
#hidden-menu-movil
			color white
			font-size 1.5rem
			position absolute
			right 1rem
			z-index 201
			

#menu-list
	display none	
	background rgba(black,0.95)
	bottom 0
	overflow-y scroll
	position fixed
	top 0
	width 16.875em
	z-index 200
	ul
		list-style none
		margin 0
		padding 0
		
		li 
			margin 0
			padding 1rem 0 
			text-align center
		.op
			a
				color white
				display block
				padding-left 7.3%
				text-align left
			ul
				padding-left 2rem		
